# Set to True to allow the server to run
fb_confd = False

# Location to store files
fb_filedir = ""

# Options
fb_options = {
	"allow_account_creation":True,
	"all_files_public":False,
}

# Database connection information
fb_conn = {
    "hostname":"",
    "database":"",
    "username":"",
    "password":"",
}

# Static values universal across all HTML templates
fb_common = {
    "instance":"Filebooru",
}

fb_strings = {
    "username_exists":"This username has already been taken, please try another.",
    "incorrect_login":"The password provided was incorrect or the user does not exist.",
    "read_denied":"You do not have permission to view this file.",
    "need_login":"Anonymous users cannot perform this action; please log in.",
    "reg_disabled":"Registration is currently disabled."
}
