$nav-height: 60px;
$file-height: 50px;

@mixin noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin buttonlink {
	@include noselect;
	display: inline-block;
	padding: 13px 20px;
	background-color: #000000;
	cursor: pointer;
	color: #ffffff;
	margin-bottom: 10px;
	user-select: none;
	font-size: 18px;
}

body {
	margin: $nav-height 0px 0px 0px;
}
a {
	color: #4a9dd9;
	text-decoration: none;
}
h2 {
	padding: 20px;
	margin-bottom: 0px;
}
.bluebuttonlink {
	@include buttonlink;
	background-color: #0077cc;
	margin-left: 20px;
}
.greybuttonlink {
	@include buttonlink;
	background-color: #999999;
}
.mono {
	font-family: monospace;
	font-size: 14px;
}
#nav {
	width: 100%;
	position: fixed;
	height: $nav-height;
	background: #eaeaea;
	top: 0px;
	line-height: $nav-height;
	font-size: 18px;
	.pull-left {
		margin-left: 20px;
		float: left;
	}
	.pull-right {
		margin-right: 20px;
		float: right;
		a {
			margin-left: 15px;
		}
	}
	.title {
		font-size: 20px;
	}
}
table.files{
	width: 100%;
	background-color: #ffffff;
	border-spacing: 0px;
	tr {
		border-bottom: 1px solid #000000;
		background-color: #ecf2ff;
	}
	td {
		height: $file-height;
	}
	td.extension {
		padding-left: 20px;
		width: 1px;
	}
	td.filename {
		padding-left: 10px;
		width: 1px;
	}
	td.tags {
		padding-left: 10px;
		padding-right: 20px;
		color: #888888;
		font-style: italic;
	}
	.ext {
		@include noselect;
		cursor: default;
		color: #ffffff;
		background-color: #aaaaaa;
		display: inline;
		padding: 5px 10px;
		border-radius: 9001px;
	}
	.ext[title$=".flac"],
	.ext[title$=".m4a"],
	.ext[title$=".mp3"],
	.ext[title$=".ogg"],
	.ext[title$=".opus"],
	.ext[title$=".wav"],
	{
		background-color: #bb00bb;
	}
	.ext[title$=".bmp"],
	.ext[title$=".gif"],
	.ext[title$=".ico"],
	.ext[title$=".jpeg"],
	.ext[title$=".jpg"],
	.ext[title$=".png"],
	{
		background-color: #00bb00;
	}
	.ext[title$=".avi"],
	.ext[title$=".flv"],
	.ext[title$=".m4v"],
	.ext[title$=".mkv"],
	.ext[title$=".mov"],
	.ext[title$=".mp4"],
	.ext[title$=".ts"],
	.ext[title$=".webm"],
	{
		background-color: #ff8800;
	}
	.ext[title$=".docx"],
	.ext[title$=".epub"],
	.ext[title$=".odp"],
	.ext[title$=".ods"],
	.ext[title$=".odt"],
	.ext[title$=".pdf"],
	.ext[title$=".txt"],
	{
		background-color: #00bbbb;
	}
	.ext[title$=".7z"],
	.ext[title$=".bzip2"],
	.ext[title$=".gz"],
	.ext[title$=".rar"],
	.ext[title$=".tar"],
	.ext[title$=".zip"],
	{
		background-color: #bb0000;
	}
}
table.files tr:nth-child(odd) {
	background-color: #ffffff;
}
table.fileinfo {
	font-size: 18px;
	margin-left: 20px;
	border: 1px solid #dddddd;
	border-spacing: 0px;
	td {
		border-left: 1px solid #dddddd;
		border-top: 1px solid #dddddd;
		padding: 10px;
	}
	td:first-child {
		border-left: 0px;
	}
	tr:first-child {
		td {
			border-top: 0px;
		}
	}
}
table.sharing {
	width: 100%;
	background-color: #eaeaea;
	box-sizing: border-box;
	margin-bottom: 5px;
	border-spacing: 0px;
	td {
		padding: 0px 5px;
		text-align: center;
		border-top: 1px solid #cccccc;
		input[type="checkbox"] {
			display: block;
			margin: 0px auto;
		}
	}
	tr:first-child td {
		border-top: 0px;
		padding: 10px;
	}
	td:first-child {
		text-align: left;
		padding-left: 10px;
	}
}
.centerbox {
	width: 560px;
	margin: 65px auto 10px auto;
	input {
		display: block;
		width: 100%;
		box-sizing: border-box;
		height: 36px;
		border: 0px;
		margin-bottom: 5px;
		padding: 0px 10px;
		background-color: #eaeaea;
		font-size: 18px;
	}
	input[type="submit"] {
		background-color: #66b5d2;
		color: #ffffff;
	}
}
.messagebox {
	width: 960px;
	margin: 75px auto 10px auto;
	h2 {
		margin-top: 0px;
		padding: 10px 0px;
	}
	h3 {
		margin: 0px;
		padding: 0px;
	}
}
