!!! 5
%html
	/ {{ com.instance }} powered by Filebooru
	/ Available under the terms of the GNU Affero General Public License 3 or later
	/ https://gnu.org/licenses/agpl-3.0.txt
	%head
		%meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
		%link{:rel => "stylesheet", :href => "/static/css/filebooru.css"}
		%title {{ data[0] }} - {{ com.instance }}
	%body
		#nav
			.pull-left
				.title
					%a{:href => "/"} {{ com.instance }}
			.pull-right
				%form{:action => "/search", :method => "post"}
					%input{:type => "text", :placeholder => "Search...", :name => "query"}
				%a{:href => "/upload"} Upload
				%a{:href => "/user/me"} {{ username }}
		%h2 {{ data[0] }}
		{% if data[6] %}
		{% autoescape false %}
		%h4 {{ data[6] | fixnewlines }}
		{% endautoescape %}
		{% endif %}
		%a.bluebuttonlink{:href => "/open/{{ fileid }}/{{ filename }}"}
			Open
		%a.greybuttonlink{:href => "/download/{{ fileid }}/{{ filename }}"}
			Download
		%table.fileinfo
			%tr
				%td Size
				%td {{ data[1] | human_size }}
			%tr
				%td Owner
				%td {{ data[2] }}
			%tr
				%td Date uploaded
				%td {{ data[3] | datetime_string }}
			%tr
				%td Tags
				%td {{ data[4] | comma_list }}
			%tr
				%td sha256
				%td
					.mono {{ data[5] }}
