!!! 5
%html
	%head
		%meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
		%link{:rel => "stylesheet", :href => "/static/css/filebooru.css"}
		%title {{ com.instance }}
	%body
		#nav
			.pull-left
				.title
					{{ com.instance }}
			.pull-right
				<a>username123</a>
		%table.files
			%tr
				%td.extension
					.ext{"title" => "sound.ogg"} OGG
				%td.filename sound.ogg
