!!! 5
%html
	/ {{ com.instance }} powered by Filebooru
	/ Available under the terms of the GNU Affero General Public License 3 or later
	/ https://gnu.org/licenses/agpl-3.0.txt
	%head
		%meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
		%link{:rel => "stylesheet", :href => "/static/css/filebooru.css"}
		%title {{ com.instance }}
	%body
		#nav
			.pull-left
				.title
					%a{:href => "/"} {{ com.instance }}
		.centerbox#signin
			%form{:method => "post", :action => "/register"}
				%input{:type => "text", :placeholder => "Username", :name => "username"}
				%input{:type => "password", :placeholder => "Password", :name => "password"}
				%input{:type => "submit", :value => "Register"}
