!!! 5
%html
	/ {{ com.instance }} powered by Filebooru
	/ Available under the terms of the GNU Affero General Public License 3 or later
	/ https://gnu.org/licenses/agpl-3.0.txt
	%head
		%meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
		%script{:src => "/static/js/jquery-2.1.1.js"}
		%script{:src => "/static/js/filebooru.js"}
		%link{:rel => "stylesheet", :href => "/static/css/filebooru.css"}
		%title {{ com.instance }}
	%body
		#nav
			.pull-left
				.title
					%a{:href => "/"} {{ com.instance }}
			.pull-right
				%form{:action => "/search", :method => "post"}
					%input{:type => "text", :placeholder => "Search...", :name => "query"}
				%a{:href => "/upload"} Upload
				%a{:href => "/user/me"} {{ username }}
		.centerbox#signin
			%form{:method => "post", :action => "/makefile", :enctype => "multipart/form-data"}
				%input{:type => "file", :name => "file"}
				%input{:type => "text", :name => "tags", :placeholder => "Tags (space separated)"}
				%textarea{:name => "description", :placeholder => "Description (optional)"}
				%table.sharing
					%tr.checksharing
						%td Public
						%td
							%input{:type => "checkbox", :name => "public", :checked => "checked", :id => "publicbox"}
				%table.sharing{:id => "sharingbox"}
					%tr
						%td Group
						%td Read
						%td Write
					{% for group in groups %}
					%tr
						%td {{ group[0] }}
						%td
							%input{:type => "checkbox", :name => "r{{ group[1] }}"}
						%td
							%input{:type => "checkbox", :name => "w{{ group[1] }}"}
					{% endfor %}
				%input{:type => "submit", :value => "Upload"}
