!!! 5
%html
	%head
		%meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
		%link{:rel => "stylesheet", :href => "/static/css/filebooru.css"}
		%title {{ com.instance }}
	%body
		#nav
			.pull-left
				.title
					%a{:href => "/"} {{ com.instance }}
			.pull-right
				%form{:action => "/search", :method => "post"}
					%input{:type => "text", :placeholder => "Search...", :name => "query"}
				%a{:href => "/upload"} Upload
				%a{:href => "/user/me"} {{ username }}
		%h2 {{ data[1] }}
		%table.fileinfo
			%tr
				%td Joined
				%td {{ data[5] | date_string }}
